.navbar-container {
    .navbar-inner {
        .burger-menu {
            width: 40px;
        }

        .github-linkedin-container {
            .github-icon {
                width: 40px;
            }

            .linkedin-icon {
                width: 40px;
            }
        }
    }
}