.projects-container {
    padding: 20px;
    padding-bottom: 30px;

    .projects-title {
        color: #fff;
        text-align: center;
        text-decoration: 6px underline #0f1398;
    }

    .projects-inner {
        margin-top: 50px;
        display: flex;
        flex-direction: column;
        gap: 40px;

        .project-list {
            border: 1px solid #525008;
            border-radius: 10px;

            .project-pic {
                width: 100%;
                border-radius: 10px;
            }

            .project-intro {
                margin-bottom: 10px;
                padding: 10px;

                .project-name {
                    color: #fff;
                }

                .project-description {
                    color: lighten(black, 50);
                }

                .language-container {
                    display: flex;
                    gap: 30px;

                    .react {
                        padding: 10px;
                        background-color: #525008;
                        border-radius: 10px;
                        color: #fff;
                    }

                    .sass {
                        padding: 10px;
                        background-color: #525008;
                        border-radius: 10px;
                        color: #fff;
                    }
                }

                .project-link {
                    display: flex;
                    color: #fff;
                    justify-content: end;

                    span {
                        margin-left: 5px;

                        .right-arrow {
                            width: 15px;
                        }
                    }
                }
            }
        }
    }

    @media (min-width: 800px) {
        padding: 30px 50px;
        padding-bottom: 60px;

        .projects-inner {
            margin-top: 80px;
            flex-direction: row;
            gap: 20px;
        }
    }

    @media (min-width: 1000px) {
        padding: 30px 100px;
        padding-bottom: 60px;

        .projects-title {
            font-size: 40px;
        }
    }
}