.skills-container {
    padding: 20px 20px;
     .skills-title {
        text-align: center;
        color: #fff;
     }
    .skills-inner {
        .skills-list {
            .skill-icon {
                width: 50px;
            }
            .skill-name {}
        }
    }
}